.cursor-pointer {
    cursor: pointer;
}

.bg-nav {
    background-color: #F5596F;
}

.navbar .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}

.dropdown-item.active, .dropdown-item:active {
    text-decoration: none;
    background-color: #e9ecef;
}

.navbar .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
}

.img {
    margin: 0 auto;
}