.title{
    font-weight: bold;
    margin-top: 25px;
}

.genres {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
}

.badge-movie{
    color: white;
    background-color: #F55970;
}

.img-thumbnail{
    padding: 0rem;
    border: none;
}

.badge-voteAverage{
    color: #454545;
    background-color: white;
}

.voteAverage {
    margin-top: 4px;
    font-size: 18px;
}

.btn-favorites{
    background-color: #F55970;
    padding: 10px 20px;
    color: white;
}